/* Estilos para la sección de subida de archivos */
.file-select-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.custom-file-upload {
    border: 1px solid var(--card-border);
    display: inline-block;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background-color: var(--card-bg);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: var(--hover-bg);
}

#jsonInput {
    display: none; /* Esto oculta el input de archivo real */
}

#fileName {
    color: var(--link-color);
    font-style: italic;
}
